<%= form_for @project do |f| %>
  <div class='row'>
    <div class='small-6 columns'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class='small-6 columns'>
      <%= f.label :lead_id %>
      <%= f.collection_select(:lead_id, User.all, :id, :name) %>
    </div>
  </div>
  <div class='row'>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 15 %>
    <%= f.submit class: 'button small radius' %>
  </div>
<% end %>