<!DOCTYPE html>
<html>
  <head>
    <title>DbcAlumni</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h1>DBC Alumni</h1>
    <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Sign In", new_sessions_path %><br>
    <% if current_user %>
      <p>Hey, <%= current_user.name %>!</p>
      <%= link_to "Sign Out", sessions_path, method: :delete %><br>
    <% end %>
    <%= yield %>
  </body>
</html>